@import "./../../../styles/placeholders.scss";
@import "./../../../styles/mixins.scss";

.phone-input {
  @include breakpoint(xs) {
    width: 100%;
  }
  .input {
    position: relative;
    @include breakpoint(xs) {
      width: 100%;
    }
    input {
      position: relative;
      @extend %input;
      border: 1px solid tomato !important;
      @include breakpoint(xs) {
        width: 100%;
      }
      &.valid {
        border: 1px solid $color-green !important;
      }
    }

    .status {
      top: calc(50% - 17.5px);
      width: 35px;
      height: 35px;
      left: 10px;
      z-index: 5;
      position: absolute;
      @include flexbox(center, center);
      background: tomato;
      border-radius: 500px;
      color: $color-bg-secondary;
      &.valid {
        background: $color-green;
      }
    }
  }
}
