@import "./../../../styles/mixins.scss";
@import "./../../../styles/variables.scss";

.text.example {
  @include flexbox(center, center, column);
  > div {
    width: 400px;
    border-radius: 5px;
    background: $color-bg-secondary;
    padding: 20px;
    margin: 5px;
    font-size: 14px;
    font-family: $font-family-persian-latin-num;
    @include breakpoint(xs) {
      width: 100%;
    }
  }
  .after {
    b {
      color: $color-gold;
      font-weight: normal;
      margin: 0 5px;
    }
  }
}
