$color-bg: #fcfcfd;
$color-bg-secondary: white;
$color-gold: #d5a848;

$color-secondary: #030027;
$color-primary: #f1f1f1;

$color-text-light: #bab9c4;
$color-green: #00c851;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-x: 20px;

$time: 0.3s;

$font-family-latin-r: "productsans-regular";
$font-family-latin-b: "productsans-bold";
$font-family-persian-b: "shabnam-bold";
$font-family-persian-r: "shabnam-regular";
$font-family-persian-latin-num: "iransans";
