@import "./variables.scss";

html {
  overflow-x: none;
}

* {
  direction: rtl;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color-bg;
  font-family: $font-family-persian-r;
  font-size: $font-size-base;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
