@font-face {
  font-family: "iranSans";
  src: url("./../../public/fonts/IRANSans.ttf");
}

@font-face {
  font-family: "shabnam-regular";
  src: url("./../../public/fonts/Shabnam-FD.ttf");
  src: url("./../../public/fonts/Shabnam-FD.eot");
  src: url("./../../public/fonts/Shabnam-FD.woff");
  src: url("./../../public/fonts/Shabnam-FD.woff2");
}

@font-face {
  font-family: "shabnam-bold";
  src: url("./../../public/fonts/Shabnam-Bold-FD.ttf");
  src: url("./../../public/fonts/Shabnam-Bold-FD.eot");
  src: url("./../../public/fonts/Shabnam-Bold-FD.woff");
  src: url("./../../public/fonts/Shabnam-Bold-FD.woff2");
}

@font-face {
  font-family: "productsans-regular";
  src: url("./../../public/fonts/ProductSansRegular/Product\ Sans\ Regular.ttf");
  src: url("./../../public/fonts/ProductSansRegular/Product\ Sans\ Regular.eot");
  src: url("./../../public/fonts/ProductSansRegular/Product\ Sans\ Regular.woff");
  src: url("./../../public/fonts/ProductSansRegular/Product\ Sans\ Regular.woff2");
}

@font-face {
  font-family: "productsans-bold";
  src: url("./../../public/fonts/ProductSansBold/Product\ Sans\ Bold.ttf");
  src: url("./../../public/fonts/ProductSansBold/Product\ Sans\ Bold.eot");
  src: url("./../../public/fonts/ProductSansBold/Product\ Sans\ Bold.woff");
  src: url("./../../public/fonts/ProductSansBold/Product\ Sans\ Bold.woff2");
}

@font-face {
  font-family: "icomoon";
  src: url("./../../public/fonts/icomoon.eot?diz6do");
  src: url("./../../public/fonts/icomoon.eot?diz6do#iefix")
      format("embedded-opentype"),
    url("./../../public/fonts/icomoon.ttf?diz6do") format("truetype"),
    url("./../../public/fonts/icomoon.woff?diz6do") format("woff"),
    url("./../../public/fonts/icomoon.svg?diz6do#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
