@import "./../../../styles/placeholders.scss";
@import "./../../../styles/mixins.scss";

.factor.example {
  .input {
    @include breakpoint(xs) {
      width: 100%;
    }
    input {
      font-family: $font-family-persian-latin-num;
      @extend %input;
      @include breakpoint(xs) {
        width: 100%;
      }
    }
  }
  @include flexbox(flex-start, flex-start, column);

  .factor-ticket {
    position: relative;
    width: 350px;
    height: 120px;
    margin-top: 15px;
    @include flexbox(flex-start, center);
    perspective: 1000px;
    @include breakpoint(xs) {
      // display: none;
      width: 100%;
      height: auto;
    }

    > div {
      background: $color-bg-secondary;
      overflow: hidden;
    }

    &:hover {
      .left {
        transform: rotateZ(10deg);
      }
    }

    .right {
      height: 120px;
      flex: 1;
      padding-right: 45px;
      padding-left: 10px;
      position: relative;
      @include flexbox(center, flex-start, column);
      @include breakpoint(xs) {
        height: 170px;
      }

      @include p-el("after") {
        width: 50px;
        height: 50px;
        left: calc(100% - 25px);
        top: calc(50% - 25px);
        background: #efefef;
        border-radius: 50px;
      }

      header {
        width: 100%;
        @include flexbox(space-between, center);
        margin-bottom: 10px;
        h3 {
          font-size: 14px;
          margin: 0;
        }
        span {
          font-size: 12px;
          opacity: 0.5;
        }
      }

      > span {
        font-size: 12px;
        opacity: 0.5;
        margin: 2px 0;
        &:last-child {
          color: $color-green;
        }
        del {
          margin-right: 5px;
        }
      }
    }

    .left {
      width: 80px;
      height: 120px;
      border-right: 2px dashed #efefef;
      @include flexbox(center, center);
      padding-left: 20px;
      position: relative;
      transform-origin: top right;
      transition: 0.3s;
      transform-style: preserve-3d;
      @include breakpoint(xs) {
        height: 170px;
        width: 40px;
      }
      span {
        font-size: 22px;
        opacity: 0.5;
        color: $color-green;
        @include breakpoint(xs) {
          display: none;
        }
      }
      @include p-el("before") {
        width: 50px;
        height: 50px;
        right: calc(100% - 25px);
        top: calc(50% - 25px);
        background: #efefef;
        border-radius: 50px;
      }
    }
  }
}
