@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.installation {
  @include flexbox(center, stretch);
  width: 100%;
  margin-top: 100px;

  .container {
    @include flexbox(space-evenly, center);
    @include breakpoint(md) {
      flex-direction: column;
    }

    > div {
      padding: 20px;
      margin: 20px;
      flex: 1;

      @include breakpoint(md) {
        margin: 0 20px;
        width: 100%;
      }

      h2,
      p {
        text-align: center;
      }

      .box {
        width: 50%;
        margin: 0 auto;
        @include flexbox(space-around, flex-start);
        margin-top: 35px;
        background: $color-primary;
        border-radius: 10px;
        padding: 20px 50px;
        min-height: 156px;
        transition: 0.3s;

        @include breakpoint(md) {
          flex-direction: column;
          width: 100%;
        }
        @include breakpoint(xs) {
          padding: 20px;
        }

        > div {
          flex: 1;
          @include flexbox(center, flex-end, column);
          @include breakpoint(md) {
            max-width: 100%;
            width: 100%;
            flex: unset;
          }

          &:first-child {
            @include breakpoint(xs) {
              margin-bottom: 50px;
            }
          }

          p {
            text-align: right;
            width: 100%;
            margin: 20px 0 0 0;
          }
          h2 {
            margin: 0;
          }

          code {
            color: rgba($color-secondary, 0.8);
            word-break: break-all;
            font-style: italic;
            position: relative;
            margin: 10px 0;
            width: auto;
            padding: 5px;
            border-radius: 5px;
            background: rgba($color-gold, 0.07);
            direction: ltr;
            @include flexbox();

            .color {
              color: $color-green;
              margin-right: 10px;
            }

            @include breakpoint(xs) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
